@charset "utf-8";
body {
  font-family: Arial, "맑은 고딕", sans-serif;
}
.wrap {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
header {
  position: relative;
}
header .info {
  height: 50px;
  background: #2ecc71;
  border: 1px solid #39d67c;
}
header .info ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
header .logo_wrap {
  height: 100px;
  background: #2ecc71;
  position: relative;
}
header .logo_wrap .logo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
header .logo_wrap .logo a {
  text-transform: uppercase;
  font-weight: bold;
}
header .logo_wrap .menu_toggle {
  position: absolute;
  right: 20px;
  top: 20px;
}
header .menu {
  background: #2c3e50;
}
header .menu ul {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
header .menu ul li {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
header .menu ul li span {
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/s_images/sub_menu_toggle_btn.png);
}
header .menu ul li a {
  font-weight: bold;
}
header .subhead {
  height: 150px;
  background: #219af7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
header .subhead h1 {
  font-size: 24px;
  line-height: 2;
}
section {
  width: 100%;
  background: #fff;
}
section .row1 {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
section .row1 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
section .row1 ul li {
  flex: 1 0 100%;
  border-radius: 10px;
  overflow: hidden;
}
section .row1 ul li img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
section .row1 ul li a img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
section .row2 {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
section .row2 .search {
  position: relative;
  display: flex;
  gap: 20px;
}
section .row2 .search ul {
  position: absolute;
  left: 120px;
  top: 30px;
  width: 100px;
  background: #e65d5d;
}
section .row2 .search ul li {
  line-height: 1.5;
  padding-left: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
}
.search input {
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
}
section .row2 span {
  display: block;
  width: 80px;
  line-height: 30px;
  background: #e65d5d;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.write {
  width: 70px;
  height: 30px;
  background: #e65d5d;
  text-align: center;
  line-height: 30px;
}
.row3 {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.row3 span {
  width: 28px;
  height: 28px;
}
.row3 span.after_btn {
  background: #2ecc71 url(../images/s_images/list_prev_btn.png) center center
    no-repeat;
  margin-right: 10px;
}
.row3 span.next_btn {
  background: #2ecc71 url(../images/s_images/list_next_btn.png) center center
    no-repeat;
}
.row3 a {
  width: 26px;
  line-height: 26px;
  text-align: center;
  color: #219af7;
  border: 1px solid #219af7;
  margin-right: 10px;
  transition-duration: 0.3s;
}
.row3 a:hover {
  color: #fff;
  background: #219af7;
}
footer {
  width: 100%;
  background: #474747;
}
footer p {
  padding: 20px;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  header .logo_wrap .logo {
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 30px;
    background: #2ecc71;
  }
  header .menu {
    position: absolute;
    right: 0;
    top: 152px;
    width: 40%;
    z-index: 1;
  }
  section .row1 ul li {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 960px) {
  header .info {
    position: absolute;
    top: 0;
    right: 20px;
    width: 15%;
    z-index: 1;
    border: none;
    height: 100px;
  }
  header .menu_toggle {
    display: none;
  }
  header .menu {
    width: 100%;
    left: 150px;
    top: 0;
    background: none;
  }
  header .menu ul {
    flex-direction: row;
    width: 45%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
  }
  header .menu ul li span {
    display: none;
  }
  section .row1 ul li {
    flex-basis: 23%;
  }
}
