@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.head {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .logo > img {
  width: 200px;
  object-fit: cover;
}
.head .menu {
  width: 800px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.head .menu > .lnb {
  z-index: 1;
  position: relative;
}
.head .menu > .lnb > li {
  position: relative;
  width: 200px;
}
.head .menu > .lnb > li > a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #333;
  border-left: none;
}
.head .menu > .lnb:first-child > li {
  border-left: 1px solid #333;
}
.head .menu > .lnb > li .sub {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  line-height: 30px;
  background: #fff;
  border: 1px solid #333;
  border-top: none;
}
.head .menu > .lnb > li .sub a {
  display: block;
  width: 100%;
  height: 100%;
}
.head .menu > .lnb > li:hover > a,
.head .menu > .lnb > li a:hover {
  background: #000;
  color: #fff;
}
.slide {
  position: relative;
  width: 1200px;
  height: 300px;
  overflow: hidden;
}
.slide .ban {
  width: 100%;
}
.slide .ban li {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
}
.contents {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contents .notice {
  width: 33.333%;
  height: 200px;
}
input[type="radio"] {
  display: none;
}
label {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #333;
  float: left;
  cursor: pointer;
  left: 20px;
  z-index: 1;
  background-color: cadetblue;
}
label:first-of-type {
  border-right: none;
}
#notice:checked ~ label:first-of-type,
#gallery:checked ~ label:last-of-type {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.contents .notice > ul {
  position: relative;
  top: -1px;
  clear: both;
  border: 1px solid #333;
  width: 98%;
  height: 150px;
}
.contents .notice > ul table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.contents .notice > ul table td {
  padding: 2px 4px;
}
.contents .notice > ul table td:first-child {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contents .notice > ul table td:last-child {
  width: 30%;
  text-align: right;
}
.contents .notice > ul table td a:hover {
  text-decoration: underline;
}
.contents .notice > ul ul {
  line-height: 170px;
  text-align: center;
}
.contents .notice > ul ul li {
  display: inline-block;
}
.contents .notice > ul ul li img {
  width: 110px;
  vertical-align: middle;
}
#notice:checked ~ ul > li:last-child,
#gallery:checked ~ ul > li:first-child {
  display: none;
}
#popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
#popup .pop {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #333;
  padding: 10px;
}
#popup .pop p {
  margin-top: 20px;
}
#popup .pop p:last-child {
  float: right;
  border: 1px solid #333;
  padding: 10px;
}
#popup:target {
  display: block;
}
.contents .banner {
  width: 32%;
  height: 150px;
  border: 1px solid #333;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.contents .banner > .img img {
  width: 110px;
  margin-right: 30px;
}
.contents .go {
  width: 32%;
  height: 150px;
  border: 1px solid #333;
  margin-top: 30px;
}
.contents .go > .img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.contents .go > .img img {
  width: 110px;
}
.contents .go > .txt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}
footer .logo img {
  width: 200px;
  filter: grayscale(1);
}
footer .footerBox {
  text-align: center;
}
footer .footerBox .menu {
  border-bottom: 1px solid #333;
}
