@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  background: #f6f8f6;
}
header {
  width: 1903px;
  height: 80px;
  border-bottom: 1px solid #ededed;
}
header .top {
  display: flex;
  background: #fff;
}
header .logo a img {
  width: 147px;
  height: 43px;
  padding: 18px 15px 0 20px;
}
header .middle {
  height: 80px;
  border-left: 1px solid #ededed;
  align-items: center;
  flex-grow: 1;
}
header .middle_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}
header .m_top1 {
  height: 42px;
  display: flex;
  line-height: 42px;
}
header .m_top1 input {
  border: none;
}
header .m_top1 img {
  padding: 0 10px 0 30px;
}
header .m_top2 {
  display: flex;
  width: 183px;
  height: 42px;
  padding: 0 13px;
  justify-content: center;
  line-height: 42px;
  border-left: 1px solid #ededed;
}
header .m_top2:hover {
  text-decoration: underline;
}
header .m_top2 img {
  vertical-align: middle;
}
header .m_top2 span {
  font-size: 14px;
  padding-left: 10px;
}
header .bag {
  display: flex;
  width: 124px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-left: 1px solid #ededed;
  justify-content: center;
}
header .bag a {
  font-size: 14px;
  padding-left: 10px;
}
header .bag img {
  vertical-align: middle;
  padding-right: 5px;
}
header .nav {
  line-height: 37px;
}
header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu a {
  padding-right: 20px;
  font-size: 13px;
  font-family: "Noto Sans KR Bold", sans-serif;
  font-weight: bold;
}
.top_1 {
}
.top_2 {
  width: 150px;
  height: 59px;
  padding: 0 20px;
}
.top_2 {
  display: flex;
  justify-content: end;
}
.top_2 img {
  height: 15px;
  width: 15px;
  margin-left: 50px;
}
.banner .top_3 img {
  width: 1903px;
  height: 502.922px;
}
