@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.wrap {
  width: 1200px;

  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 200px;
  line-height: 100px;
}
header .logo img {
  vertical-align: middle;
}
header .menu {
  width: 1000px;
}
header .menu > ul {
  position: relative;
  z-index: 1;
  float: right;
  margin-right: 20px;
}
header .menu > ul > li {
  position: relative;
  float: left;
  width: 200px;
  text-align: center;
}
header .menu > ul > li > a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #333;
  border-left: none;
  box-sizing: border-box;
}
header .menu > ul > li:first-child > a {
  border-left: 1px solid #333;
}
header .menu > ul > li .sub {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
header .menu > ul > li .sub li a {
  display: block;
  width: 100%;
  line-height: 30px;
  text-align: center;
  color: #000;
}
header .menu > ul > li:hover > a,
header .menu > ul > li > a:hover {
  background: #000;
  color: #fff;
}
header .menu > ul > li .sub li a:hover {
  background: #000;
  color: #fff;
}
header .menu .bg {
  position: absolute;
  width: 100%;
  height: 150px;
  background: #fff;
  top: 100px;
  right: 0;
  height: 0;
  transition: height 0.5s;
}
header .menu > ul:hover .sub,
header .menu > ul:hover ~ .bg {
  height: 150px;
}
.slide {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
}
.slide .ban {
  width: 100%;
}
.slide .ban li {
  float: left;
}
.slide .ban li img {
  width: 1200px;
  height: 300px;
  object-fit: cover;
}
.slide .btn {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 50px;
}
.slide .btn li {
  cursor: pointer;
}
.contents {
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contents > .notice {
  width: 33%;
  height: 200px;
}
input[type="radio"] {
  display: none;
}
label {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #333;
  float: left;
  cursor: pointer;
  left: 20px;
  z-index: 1;
  background: lightpink;
}
label:first-of-type {
  border-right: none;
}
#notice:checked ~ label:first-of-type,
#gallery:checked ~ label:last-of-type {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.contents div.notice > ul {
  position: relative;
  top: -1px;
  clear: both;
  border: 1px solid #333;
  width: 98%;
  height: 170px;
}
.contents div.notice > ul table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.contents div.notice > ul table td {
  padding: 3px 4px;
}
.contents div.notice > ul table td:first-child {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contents div.notice > ul table td:last-child {
  width: 30%;
  text-align: right;
}
.contents div.notice > ul table td a:hover {
  text-decoration: underline;
}
.contents div.notice > ul ul {
  line-height: 170px;
  text-align: center;
}
.contents div.notice > ul ul li {
  display: inline-block;
}
.contents div.notice > ul ul li img {
  width: 110px;
  vertical-align: middle;
}
#notice:checked ~ ul > li:last-child,
#gallery:checked ~ ul > li:first-child {
  display: none;
}
#popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
#popup .pop {
  position: absolute;
  width: 600px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #333;
  padding: 20px;
}
#popup .pop p {
  margin: 10px;
}
#popup .pop p:last-child {
  float: right;
  border: 1px solid #333;
  padding: 10px;
}
#popup:target {
  display: block;
}
.contents div.banner {
  width: 32%;
  height: 170px;
  border: 1px solid #333;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents div.banner > .img img {
  width: 120px;
}
.contents div.banner > .txt p {
  text-align: center;
  margin-left: 5px;
}
.contents div.go {
  width: 32%;
  height: 170px;
  border: 1px solid #333;
  margin-top: 32px;
}
.contents div.go > .img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}
.contents div.go > .img img {
  width: 110px;
  height: 90px;
  object-fit: cover;
}
.contents div.go > .txt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 20px;
}
footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
}
