@charset "utf-8";
@font-face {
  font-family: Pretendard;
  src: url(../../webfonts/Pretendard-Regular.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: Arial, Helvetica, Pretendard, sans-serif;
}
.ecoImages {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  column-gap: 80px;
}
.ecoImages > a {
  display: block;
  border-radius: 20px;
}
.ecoImages a.imgBlock_01 {
  height: 640px;
  background: url(images/energy_1.jpg) center/cover no-repeat;
  grid-row: 1 / 3;
  align-self: center;
}
.ecoImages a.imgBlock_02 {
  height: 480px;
  background: url(images/energy_2.jpg) center/cover no-repeat;
}
.ecoImages a.imgBlock_03 {
  height: 530px;
  background: url(images/energy_3.jpg) center/cover no-repeat;
  margin-right: 100px;
}
@media screen and (max-width: 1280px) {
  .ecoImages {
    display: block;
  }
  .ecoImages > a {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .ecoImages a.imgBlock_01 {
    height: 327px;
  }
  .ecoImages a.imgBlock_02 {
    height: 327px;
  }
  .ecoImages a.imgBlock_03 {
    height: 327px;
    margin-right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .ecoImages > a {
    width: 90%;
  }
}
