@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}
header .head {
  transition: 0.3s;
}
header .head .top {
  width: 1500px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .top ul.menu {
  display: flex;
  width: 680px;
  /*  justify-content: space-between; */
}
header .head .top ul.menu > li {
  position: relative;
  /*   width: calc(100% / 6); */
  height: 100%;
  line-height: 80px;
  padding-right: 40px;
  box-sizing: border-box;
}
header .head .top ul.menu > li > a {
  color: #fff;
}
header .head .top ul.menu > li > a.on {
  color: #333;
}
header .head .top ul.menu > li:hover > a {
  color: #e85400;
}
header .head .top ul.menu > li .sub {
  position: absolute;
  width: 680px;
  left: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  z-index: 2;
  transition: 0s;
}
header .head .top ul.menu > li .sub.on {
  opacity: 1;
  transition: 0.3s;
}
/* header .head .top ul.menu > li:nth-child(2) .sub {
  display: block;
} */
header .head .top ul.menu > li:first-child .sub > ul {
  display: flex;
}
header .head .top ul.menu > li .sub > ul li {
  flex: 1;
  line-height: 40px;
}
header .head .top ul.menu > li .sub > ul li a:hover {
  color: #e85400;
}
section {
  height: 100vh;
}
section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner {
  position: absolute;
  top: 0;
  left: 0;
}
.storyBox {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  position: relative;
}
.txtBox {
  position: absolute;
  top: 20%;
  left: 10%;
}
.txtBox h3:first-child {
  font-weight: 100;
}
.txtBox h3 {
  font-size: 115px;
  line-height: 115px;
}
.txtBox p {
  margin-top: 30px;
  font-size: 23px;
}
.storyBox img {
  width: 951px;
  height: 626px;
}
.storyinner {
  width: 1519px;
  margin: 0 auto;
  display: flex;
}
.storyinner .box {
  position: relative;
  width: 335px;
  height: 343px;
  background: #f1f1f1;
  margin-left: 10px;
  padding: 30px;
  text-align: right;
}
.storyinner .box > img {
  margin-bottom: 30px;
}
.storyinner .box > h1,
.storyinner .box > p {
  text-align: left;
}
.storyinner .box > .more {
  content: url(../images/ico_more.svg);
  width: 32px;
  height: 32px;
  display: block;
  margin-top: 40px;
}
