@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-wrap {
  display: flex;
  background: #fff;
  justify-content: space-between;
  height: 80px;
  position: absolute;
  border-bottom: 1px solid #ececec;
}
.header-wrap a img {
  width: 147px;
  height: 43px;
  margin: 18px 20px 0 15px;
}
